@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

header {
    background-color: #0A1627;
    height: 115px;
}

header .row div {

}

.logo {
    width: 260px;
    height: 115px;

    padding: 0;
    margin-top: 27px;
    margin-right: 0;
    margin-left: 0;

    background-repeat: no-repeat;
    background-size: 250px 60px;
}

.genres-button {
    width: 108px;
    height: 36px;

    margin-top: 40px;
    margin-left: 90px;
    padding: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #E3DEDE;
}

.pass {

}

.search-button {
    width: 400px;
    height: 45px;
    margin: 0;
    padding: 40px 0px 0px 0px;
}

.search-button form input{
    width: 400px;
    height: 45px;


    border-radius: 10px;

    background-image: url("../../static/img/correct/search-vector.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 352px; /*Позиционируем*/
    outline: none; /*убираем стандартную обводку браузера*/
    /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
    padding: 0 0 0 20px;
    font-size: 13px; /*размер шрифта*/

}

.ring-img {
    width: 39px;
    height: 45px;

    margin-left: 15px;
    margin-top: 40px;

}

.acc-img {
    width: 45px;
    height: 45px;

    margin-left: 20px;
    margin-top: 40px;

}

body {
    background-color: #0A1627;
}




body .col-12 {
    padding: 0px;
}

body .title {
    margin-top: 27px;

    height: 64px;
    margin-left: 27px;

    font-size: 30px;
    font-weight: 800;
    background-image: url("../../static/img/correct/main page/grad-divider.png");
    background-size: 100px;
    color: transparent;
    -webkit-background-clip: text;
}

body .posters .col-2{

    width: 228px;
    height: 330px;
}

.poster-1 {
    margin-left: 45px;
    margin-right: 70px;
}

.poster-2 {
    margin-right: 70px;
}

.poster-3 {
    margin-right: 70px;
}

.next-button {
    height: 45px;
    width: 45px;
    margin-left: 65px;
    align-self: center;
    transform: rotate(-180deg);
}

body .name-1 {
    margin-left: 58px;
}

body .name-of-film .col-2 {
    width: 228px;
    height: 36px;
    padding: 0;
    margin-top: 40px;
    margin-right: 70px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #E3DEDE;
}

body .description-1 {
    margin-left: 58px;
}

body .description .col-2{
    width: 228px;
    height: 24px;

    padding: 0;
    margin-right: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #808080;
}


.new-background {

    padding: 0px;
    margin-left: 0;
    height: 140px;
    width: 100%;
    background-image: url("../../static/img/correct/main page/grad-divider.png");
    background-size: 100%; /* Современные браузеры */
    margin-bottom: 70px;
}


.title-new {
    margin-top: 87px;

    padding: 0px;
}

.title-new .col-12{
    margin-top: 25px;
    margin-left: 58px;
    margin-bottom: 20px;
    padding: 0;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

    color: #FE0039;
}

.new-menu .item-1{
    margin-left: 58px;
    width: 135px;
}


.new-menu .menu-item {

    height: 24px;
    padding: 0;
    margin-right: 43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;

    color: #E3DEDE;
}

.new-content .content-film-name{

}

.content-poster-1 {
    margin-left: 53px;
}

.content-poster-6 {
    margin-left: 53px;
}

.new-content .con-poster {
    width: 190px;
    height: 275px;
    margin-right: 60px;

}

.new-content .content-desc-1 {
    margin-left: 65px;
}

.new-content .content-desc-6 {
    margin-left: 65px;
}

.new-content .content-film-name{
    height: 60px;
    margin-right: 60px;
}

.new-content .con-poster {
    background-image: url("../../media/films/content_poster.jfif");
    background-size: 190px 275px;
}

.new-content .content-film-name {
    padding: 0;

    width: 190px;
    height: 36px;
    left: 367px;
    top: 287px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #E3DEDE;
}

.content-film-desc {
    padding: 0;
    width: 190px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #808080;

    margin-right: 60px;
    margin-bottom: 90px;
}

.desc-1, .desc-6 {
    margin-left: 65px;
}

foot .container {
    width: 100%;
    height: 140px;
    background-color: #0A1627;
}


foot .logo {
    padding: 0;
    margin: 0;
    background-image: url("../../main_page/static/img/logo.png");
    background-size: 252px 62px;
    background-repeat: no-repeat;
    margin-right: 55px;
}

foot .text {
    width: 493px;
    height: 63px;
    padding: 0;
    margin: 0;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;

    color: #E3DEDE;
}

foot .copyright {
    width: 260px;
    height:100px;
    margin-left: auto;


}

foot .copyright .underlined {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;

    color: #E3DEDE;
}


foot .copyright .other {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;

    color: #E3DEDE;


}

foot .copyright .red-color {
    color: #FE0039;
}


