* {
    margin: 0;
    padding: 0;
    outline: 0;
    outline-offset: 0;
    background: #0A1627;
    color: white;
}


html {
    /*position: relative;*/
}

.icon {
    background: none;
}

.header {
    height: 80px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.notify-icon {
    /* messages */

    width: 39px;
    height: 45px;

    background: #E3DEDE;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.search {
    width: 400px;

}
.search, .search input {
    border-radius: 5px;
    height: 100%;
    background-color: white;
    color: black;
    border: none;
}
.search input {
    width: 90%;
}


footer {
    /* default footer */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0 10px;
    gap: 10px;

    height: 195px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

footer p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;

    color: #E3DEDE;
}

footer h4 {

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;

    color: #E3DEDE;

}


footer .team {
    color: red;
}