* {
    margin: 0;
    padding: 0;
    outline: 0;
    outline-offset: 0;
    color: #E3DEDE;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
}
.header {
    height: 80px;
    background: #0A1627;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header-block:hover{
    background-image: url(../img/grad-main-page.png);
}
.header .header-link{
    color: #E3DEDE;
    cursor: default;
}
.header .header-link:hover{
    color: #FE0039;
}
.account_menu{
    position: fixed;
    background-color: #E3DEDE;
    width: 230px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    right: 30px;
    display: none;
}
.account_menu a{
    color: #0A1627;
    text-decoration: none;
    font-size: 20px;
}
.account_menu a:hover{
    color:#FE0039;
}
.account:hover .account_menu{
    display: block;
}

.genres{
    position:fixed;
    right: 350px;
    background-image: url(../img/grad-main-page.png);
    display: none;
    width: 790px;
    padding-left: 50px;
    color:#0A1627;
    border-radius: 10px;
}
.genres .object{
    margin: 6.5px 20px;
    background-color: rgba(217, 217, 217, 0.5);
    text-align: center;
    font-size: 20px;
    line-height: 45px; font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}
.genres .object:hover{
    color:#FE0039;
}
.films:hover .genres{
    display: block;
}
.serials:hover .genres{
    display: block;
}
.anime:hover .genres{
    display: block;
}

.search {
    width: 400px;
}
.search, .search input {
    border-radius: 5px;
    height: 100%;
    background-color: white;
    color: black;
    border: none;
}
.search input {
    width: 90%;
}
.icon {
    background: none;
}

footer {
    /* Auto layout */
    background: #0A1627;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 0 10px;
    gap: 10px;
    height: 145px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top: 2px solid #E3DEDE;
}

footer p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 21px;
    color: #E3DEDE;
}

footer h4 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #E3DEDE;

}
footer .team {
    color: red;
}